{% extends "base.html" %}

{% block content %}
<div id="sidebar">
    <div>Hello</div>
    

</div>
<div id="main-content">
    <div>World!</div>
</div>
<!--
<div id="sidebar-wrapper">
    <h4 class="sidebar-content">Sort by:</h4>
    <a href="/?sort=name" class="sidebar-content">
        <button class="btn btn-outline-secondary my-2 my-sm-0"
                type="sumbit">Name</button>
    </a>
    <a href="/?sort=media_type" class="sidebar-content">
        <button class="btn btn-outline-secondary my-2 my-sm-0"
                    type="sumbit">Type</button>
    </a>
    <a href="/?sort=owner" class="sidebar-content">
        <button class="btn btn-outline-secondary my-2 my-sm-0"
            type="sumbit">Owner</button>
    </a>
</div> -->

<!--
<div id="body-wrapper">
        <div id="shelf-wrapper">
        {% for shelf in shelves %}
        <div class="shelf">
            <div class="shelf-title">
                <a href="{% url 'library:viewonlyshelf' shelf.owner|urlencode shelf.name|urlencode %}">
                    <h3>
                        {{ shelf.owner }} {{ shelf.name }}
                    </h3>
                </a>
            </div>
            <div class="shelf-content">
                {% for medium in media %}
                {% if medium.shelf == shelf %}
                <div class="media">
                    <div class="media-content underline"> {{ medium.name|truncatechars:18 }}</div>
                    <div class="media-content underline"> {{ medium.media_type|truncatechars:20 }}</div>
                    <div class="media-content"> {{ medium.description|truncatechars:24 }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
    -->
{% endblock content %}
