{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block sidebar %}
  <a href="{% url 'home' %}">
    <button type="button" class="btn btn-light btn-sm">Go Back</button>
  </a>
{% endblock sidebar %}

{% block content %}
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'library:IMDBsearch' %}">
    <input class="form-control mr-sm-2"
           type="search"
           placeholder="Search"
           aria-label="Search"
           name="search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>

    {% if search_term %}
<!-- stuff in form can be used for the loan button, see delete functionality in expandedshelf.html for reference.-->
      {% csrf_token %}
<!-- this little guy is rendering and displaying the fancy table-->
      {% render_table table %}
  {% else %}
      <h3>This page demonstates the abilities to search through the IMDB database.</h3><br>
  {% endif %}


{% endblock content %}
