{% extends "base.html" %}

{% block content %}
	{# if search_term #}
		<h3>Search for "{{ search_term }}" returned {{ search_results|length }} results</h3><br>
		{% if search_results %}
			<table style="width:100%" class="media-table">
				<tr>
					<th>Title</th>
					<th>Media Type</th>
					<th>Description</th>
					<th>Owner</th>
				</tr>
				{% for media in search_results %}
					<tr>
						<td>{{ media.name }}</td>
						<td>{{ media.media_type}}</td>
						<td>{{ media.description }}</td>
						<td>{{ media.owner.username }}</td>
						<td class='url'>
							<form method="POST" action="{% url 'library:deleteMedia' %}" id="delete_media">
								{% csrf_token %}
								<input type="hidden" name="media_name" value="{{ media.name|urlencode }}">
								<input type="hidden" name="media_shelf" value="{{ media.shelf.name|urlencode }}">
								<input type="hidden" name="media_owner" value="{{ media.owner.username|urlencode }}">
								<a href="#">Request Loan</a>
							</form></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	{% comment %}
	{% else %}
		<h3>Search for "" was inconclusive</h3>
	{% endif %}
	{% endcomment %}
{% endblock content %}
