{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<div id="body-wrapper">
			<div id="sidebar-wrapper">
				<br>
				<form action="{% url 'library:addMedia' %}">
					<button class="btn btn-outline-primary my-2 my-sm-0" 
							type="sumbit">Add Media</button>
				</form>
				<form action="{% url 'library:addShelf' %}">
					<button class="btn btn-outline-primary my-2 my-sm-0"
							type="sumbit">Add Shelf</button>
				</form>
			</div>
			<div id="shelf-wrapper">
				{% for shelf in shelves %}
					{% if shelf.owner == user %}
					   <div class="shelf">
							<div class="shelf-title">
								<a href="{% url 'library:encodedshelf' user.username|urlencode shelf.name|urlencode %}"><h3>
								  {{ shelf.name }}
								</h3></a>
							</div>
							<div class="shelf-content">
									{% for medium in media %}
										{% if medium.shelf == shelf %}
											<div class="media">
											   <div class="media-content underline"> {{ medium.name|truncatechars:18 }}</div>
											   <div class="media-content underline"> {{ medium.media_type|truncatechars:20 }}</div>
											   <div class="media-content"> {{ medium.description|truncatechars:24 }}</div>
											</div>
										{% endif %}
									{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<br>
		</div>
	{% endif %}
{% endblock content %}
