  <!-- you can use record.name to get the element's name or record.media_type to get it's type
        or record. anything else to get that value for the element that has been clicked on. -->
<form method="POST" action="{% url 'loans:requestMedia' %}" id="request_media_{{ record.name }}">
  {% csrf_token %}
  <input type="hidden" name="media_name" value="{{ record.name|urlencode }}">
  <input type="hidden" name="media_owner" value="{{ record.owner.username|urlencode }}">#}
  <a href="#" class="btn btn-info btn-sm" onclick="document.getElementById('request_media_{{ record.name }}').submit();">Request</a>

</form>
