{% extends "base.html" %}

{% block content %}
  {% load render_table from django_tables2 %}
  <a href="{% url 'library:shelf' %}"><button type="button" class="btn btn-light btn-sm">Go Back</button></a>
	<br><br>
	<h3>
		{{ shelf.name }}
	</h3>
  <form method="POST" action="{% url 'library:deleteMedia' %}" id="delete_media_{{medium.name}}">
    {% csrf_token %}
      <!-- this little guy is rendering and displaying the fancy table-->
    {% render_table table %}
  </form>

<table style="width:100%" class="media-table">
	<tr>
		<th>Title</th>
		<th>Media Type</th>
		<th>Description</th>
	</tr>
	{% for medium in media %}
		{% if medium.shelf == shelf %}
			<tr>
				<td>{{ medium.name }}</td>
				<td>{{ medium.media_type}}</td>
				<td>{{ medium.description }}</td>
				<td class='url'>
					<form method="POST" action="{% url 'library:deleteMedia' %}" id="delete_media_{{medium.name}}">
						{% csrf_token %}
						<input type="hidden" name="media_name" value="{{ medium.name }}">
						<input type="hidden" name="shelf_name" value="{{ medium.shelf.name|urlencode }}">
						<input type="hidden" name="user_name" value="{{ user.username|urlencode }}">
						<a href="#" onclick="document.getElementById('delete_media_{{medium.name}}').submit();">delete</a>
					</form>
			</tr>
		{% endif %}
	{% endfor %}
</table>

	  <br>
	  <div class="delete-shelf">
			<form method="POST" action="{% url 'library:deleteShelf'  %}" id="delete_shelf">
				{% csrf_token %}
				<input type="hidden" name="shelf_name" value="{{ shelf.name }}">
				<a href="#" class="btn btn-danger" onclick="document.getElementById('delete_shelf').submit();">delete shelf</a>
			</form></div>
{% endblock content %}
